
<h1> Word Count Results</h1>

<p> Text <%= @text %>  </p>
<p> Word Count <%= @word_count %> </p>
<p> Character Count (with spaces) <%= @character_count_with_spaces %> </p>
<p> Character Count (without spaces) <%= @character_count_without_spaces %> </p>
<p> Occurrences of <%= @special_wordr %> : <%= @occurrences %> </p>


<a href= "/word_count/new">Return</a>